<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="d:\work\log.txt">

  <variable name="defaultLayout" value="${longdate}|${level}|${message:withException=true}" />

  <targets>
    <target name="logfile" xsi:type="File" 
            fileName="${basedir}/logs/${date:format=yyyy-MM-dd HH\:mm}.log"
            layout="${longdate} ${uppercase:${level}} ${message}"
            maxArchiveFiles="30"
            archiveEvery="Day" 
            />
    <target name="console" xsi:type="ColoredConsole" layout="${defaultLayout}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="console" />
    <logger name="*" minlevel="Debug" writeTo="logfile" />
  </rules>
</nlog>